<h1 style="text-align:center">Datos del Usuario</h1>

<div class="cambio-clave">
  <form role="form" method="post" action="javascript: void(0);">
    <div class="form-horizontal" [formGroup]="datosUsuarioForm">

      <div class="form-group">
        <label class="col-md-5 control-label">Identificación</label>
        <div class="col-md-4">
          <input id="identificacion" type="text" class="form-control" placeholder="Identificacion" value="{{identificacion}}" formControlName="identificacion">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-5 control-label">Nombre</label>
        <div class="col-md-4">
          <input id="nombre" type="text" class="form-control" placeholder="Nombre" value="{{nombre}}" formControlName="nombre">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-5 control-label">Departamento</label>
        <div class="col-md-4">
          <input id="departamento" type="text" class="form-control" placeholder="Departamento" value="{{departamento}}" formControlName="departamento">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-5 control-label">Teléfono</label>
        <div class="col-md-4">
          <input id="telefono" type="tel" class="form-control" placeholder="Telefono" value="{{telefono}}" formControlName="telefono">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-5 control-label">Correo</label>
        <div class="col-md-4">
          <input id="correo" type="email" class="form-control" placeholder="Correo" value="{{correo}}" formControlName="correo">
        </div>
      </div>


      <div class="form-group">
        <div class="col-md-4 col-md-offset-4">
          <button type="submit" class="btn btn-success" (click)="actualizar_pressed()"><i class="fa fa-refresh"> </i> Actualizar Contraseña </button>
        </div>
      </div>
    </div>
  </form>
</div>

<input type="text" hidden id="editarHidden" value="" />

<a id="btnModalMensaje" hidden href="#ModalMensajes" data-toggle="modal">content</a>
<!--Modal para Mensajes-->
<div id="ModalMensajes" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header justify-content-center" id="headerBodyClientes">
        <div class="icon-box">
          <i class="material-icons" id="iconBoxBodyClientes">help</i>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h4>Jetbox Clientes</h4>
        <div id="bodyModalContainerClientes">
        </div>
      </div>
    </div>
  </div>
</div>

